torch==1.6.0
numpy==1.20.1
scipy==1.5.1
numba==0.48
librosa==0.7.2
phonemizer>=2.2.0
unidecode==0.4.20
attrdict
tensorboardX
matplotlib==3.3.2
Pillow==8.1.1
flask
tqdm
inflect
bokeh==1.4.0
pysbd
pyworld==0.2.11post0
soundfile
nose==1.3.7
cardboardlint==1.3.0
pylint==2.5.3
gdown
umap-learn
cython
pyyaml==5.4
